.wrapper {
  position: relative;
  max-width: 1100px;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item {
  width: 250px;
  height: auto;
  position: absolute;
  left: 100%;
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
}

.item1 {
  animation-delay: calc(30s / 5 * (5 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 5 * (5 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 5 * (5 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 5 * (5 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 5 * (5 - 5) * -1);
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: 50px;
  }
  .item {
    width: 80px;
  }
}
