.treatment__modalities__page__hero {
  background-image: url("../../assets/treatment-modalities1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  border-image: linear-gradient(hsl(240 100% 50% / 0.3), hsl(0 100% 50% / 0.3))
    fill 1;
}

.treatment-modalities__ul {
  column-count: 2;
  gap: 0 60px;
}

@media screen and (max-width: 768px) {
  .treatment-modalities__ul {
    column-count: 1;
  }
}
